{% extends 'admin.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            {#                            <i class="fa fa-tree fa-5x"></i>#}
                            <i class="fa fa-ticket fa-5x" aria-hidden="true"></i>

                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{countOfVote}}</div>
                            <div>نظرسنجی</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">جزئیات</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comment fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{CountOfNoteVote}}</div>
                            <div>نظر</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">جزئیات</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>


    <!-- /.row -->
    <!-- Content Row -->
    <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-paper-plane" aria-hidden="true"></i> پاسخ ها</h3>
                    </div>
                    <div class="panel-body">
        {%for q,questions in questionAnswerss%}
                        <div class="col-lg-4">
                            <div class="list-group">
                                <a class="list-group-item active" href="#">{{q}}</a>
                                {%for key,question in questions%}
                                    <a class="list-group-item" href="#">{{question.answer ~ " ( " ~ question.count ~ " )"}} </a>
                                    <div class="progress">
                                        <div style="width: {{question.count ~ "%"}}" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-success"><span class="sr-only">{{question.count}}</span>
                                        </div>
                                    </div>
                                {%endfor%}
                            </div>
                        </div>
            <!-- /.col-lg-12 -->
        {%endfor%}
                    </div>
                </div>
            </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-support fa-fw"></i> نظرات</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>متن اظهار نظر</th>
                                    <th>تاریخ ایجاد</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for vote in votes%}
                                    <tr>
                                        <td>{{(vote.note is not null) ? vote.note : "نظری ثیت نشده است."}}</td>
                                        <td>{{vote.createAt|pd_format}}</td>
                                    </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                    {{ knp_pagination_render(votes) }}
                </div>
            </div>
        </div>

    </div>
{% endblock %}

