{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{asset('assets/css/bootstrap.min.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{asset('assets/css/login/styles.css')}}" />
    <link rel="stylesheet" href="{{asset('/assets')}}/webfonts/css/style.css" />
{% endblock %}
{% block fos_user_content %}
    {#    {{ include('FOSUserBundle:Security:login_content.html.twig') }}#}


    <section class="container">
        <section class="login-form">
            {% if error %}
                <div style="direction: rtl" class="alert alert-danger">
                    <div>{{ error|trans }}</div>
                </div>
            {% endif %}
            <form role="login" action="{{ path("fos_user_security_check") }}" method="POST">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}
                <div style="padding: 10px;" class="caption">
                    <h3>ورود به سیستم</h3>
                </div>
                <input type="text" name="_username" placeholder="Username" required class="form-control input-lg" />
                <input type="password" name="_password" placeholder="Password" required class="form-control input-lg" />
                <button type="submit"  name="_submit" class="btn btn-lg btn-primary btn-block">ورود</button>
            </form>
        </section>
    </section>

{% endblock fos_user_content %}
